{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["import", "jsx-a11y", "@emotion", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "warn",
    "import/no-commonjs": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@emotion/jsx-import": "error"
  },
  "overrides": [
    {
      "files": ["./tests/**/*", "./jest.config.js", "./__mocks__/**/*"],
      "rules": {
        "import/no-commonjs": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
