html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d3436;
  font-family: Arial, Geneva, sans-serif;
}

.wrapper {
  background-color: #d63031;
  margin: auto;
  max-width: 1000px;
}

.grid {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.post__image {
  width: 212px;
}

[class*='grid-col-'] {
  float: left;
}

[class*='grid-col-'] * {
  max-width: 100%;
}

[class*='grid-col-']:not(:last-child) {
  margin-right: 5%;
}

/*
  (100% - ((totalColumns - 1) * margin-right)) / totalColumns
  (100% - ((4 - 1) * 5%)) / 4
*/
.grid-col-1 {
  width: 21.25%;
}

/*
  (100% - ((totalColumns - 1) * margin-right)) / totalColumns
  (100% - ((2 - 1) * 5%)) / 2
*/
.grid-col-2 {
  width: 47.5%;
}

/*
  100% - (21.25% + 5%)
*/
.grid-col-3 {
  width: 73.75%;
}

.grid-col-4 {
  width: 100%;
}
